/* Regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header{
    background-color: #255ee9;
    height: 100px;
    width: 100%;
}

header .container_header{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    position: relative;
    /* Debug */
    background-color: rgb(70, 158, 129);
}

.container_header .discord_logo{
    margin-left: 30px;
    margin-top: 30px;
}

nav .nav_actions{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav_actions li{
    display: inline-block;
}

.nav_actions li a{
    text-decoration: none;
    color: white;
}

/* Jumbotron */
body .jumbo{
    width: 100%;
    position: relative;
    /* Debug */
    background-color: azure;
}

.jumbo img{
    max-width: 100%;
}

.jumbo .container_jumbrotron{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Debug */
    height: 400px;
    background-color: rgba(0, 128, 0, 0.445);
}

/* Main */
main .gray_bg{
    background-color: gray;
}

main div .container_sections{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    content: "";
    display: table;
    clear: both;
        /* Debug */
    background-color: aquamarine;
    margin-bottom: 50px;
}

.container_sections .big_col{
    float: left;
    width: 60%;
    /* debug */
    height: 300px;
    background-color: red;
}

.container_sections .big_col_right{
    float: left;
    width: 40%;
    /* debug */
    height: 300px;
    background-color: red;
}

.container_sections .small_col{
    float: left;
    width: 40%;
    /* debug */
    height: 300px;
    background-color: yellow;
}

.container_sections .small_col_left{
    float: left;
    width: 60%;
    /* debug */
    height: 300px;
    background-color: yellow;
}

.unique_col{
    width: 100%;
    /* debug */
    background-color: cornflowerblue;
    height: 600px;
}

/* Footer */
footer .darkgray_bg{
    background-color: rgb(29, 29, 29);
}

footer .darkgray_bg .container_footer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    content: "";
    display: table;
    clear: both;
        /* Debug */
    background-color: aquamarine;
    margin-bottom: 50px;
    height: 394px;
}