/* Regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* Header */
header{
    background-color: #255ee9;
    height: 100px;
    width: 100%;
}

header .container_header{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    position: relative;
}

.container_header .discord_logo{
    margin-left: 30px;
    margin-top: 30px;
}

nav .nav_actions{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav_actions li{
    display: inline-block;
    padding: 0 20px;   
}

.nav_actions li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

#access_button{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    margin-right: 30px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 15px;
    border-radius: 25px;
}

/* Jumbotron */
body .jumbo{
    width: 100%;
    position: relative;
}

.jumbo img{
    max-width: 100%;
}

.jumbo .container_jumbrotron{
    position: absolute;
    width: 50%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.container_jumbrotron .jumbo_title{
    font-size: 50px;
    margin-bottom: 50px;
}

.container_jumbrotron .jumbo_text{
    font-weight: 600;
    line-height: 30px;
    padding: 15px 140px;
}

.container_jumbrotron .jumbo_actions li{
    display: inline-block;
    padding: 0 20px;
    margin-top: 20px;
}

.container_jumbrotron .jumbo_actions li a{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 15px 25px;
    border-radius: 25px;
}

.jumbo_actions li a span{
    padding-right: 10px;
}

.container_jumbrotron .jumbo_actions #jumbo_right_button{
    color: white;
    background-color: black;
}

/* Main */
main .gray_bg{
    background-color: rgb(207, 207, 207);
}

main div .container_sections{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    content: "";
    display: table;
    clear: both;
    padding-bottom: 50px;
}

.container_sections .big_col{
    float: left;
    width: 60%;
}

.container_sections .big_col_right{
    float: left;
    width: 60%;
}

.container_sections .small_col{
    float: left;
    width: 40%;
    padding: 50px 180px 0px;
}

.container_sections .small_col_left{
    float: left;
    width: 40%;
    padding-top: 90px;
    padding-left: 300px;
}

.unique_col{
    width: 100%;
    text-align: center;
}

.unique_col .img_row img{
    width: 80%;    
}

/* Immagini main */
.big_col img{
    padding-left: 200px;
}

.big_col_right{
    padding-left: 150px;
}

/* Scritte main */
.small_col h2, .small_col_left h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.small_col p, .small_col_left p{
    font-weight: 600;
    line-height: 25px;
}

.top_text_row h2{
    font-size: 30px;
    padding-top: 50px;
}

.top_text_row p{
    font-weight: 600;
    line-height: 25px;
    padding: 20px 200px 0;
}

.bottom_text_row h3{
    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    display: inline-block;        
    background-size: contain;
    padding: 50px;
    font-size: 25px;
}

.bottom_text_row div a{
    text-decoration: none;
    color: white;
    background-color: rgb(101, 101, 255);
    padding: 10px 15px;
    border-radius: 25px;
    margin-bottom: 50px;
}


/* Footer */
footer .darkgray_bg{
    background-color: rgb(29, 29, 29);
}

footer .darkgray_bg .container_footer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    content: "";
    display: table;
    clear: both;
        /* Debug */
    background-color: aquamarine;
    margin-bottom: 50px;
    height: 394px;
}